on:
  push:

jobs:
  lib:
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            name: linux
            arch: x86-64
          - os: macos-latest
            name: macos
            arch: aarch64
          - os: macos-15-intel
            name: macos
            arch: x86-64
          - os: windows-latest
            name: windows
            arch: x86-64
    runs-on: ${{ matrix.os }}
    container: ${{ matrix.os == 'ubuntu-latest' && 'debian:11' || null }}
    steps:
    - uses: actions/setup-java@v5
      with:
        distribution: 'temurin'
        java-version: '25'

    - run: |
        apt update && apt install -y zlib1g-dev libpng-dev libssl-dev build-essential cmake git
        # rapidjson-dev
      if: matrix.os == 'ubuntu-latest'
    # - run: |
    #     brew install rapidjson
    #   if: matrix.os == 'macos-latest'
    # - run: |
    #     vcpkg install rapidjson ## this doesn't work to ensure it's available on windows, hence rapidjson flag below
    #   if: matrix.os == 'windows-latest'

    - uses: actions/checkout@v4
      with:
        repository: ZEISS/libczi
        # ref: da3d7dcef3e1d9fb0f0b59325b0a4c77e081523c ## 0.67.3 version. they don't do tags so have to check https://github.com/ZEISS/libczi/blob/474670909c741a51c71cf1a5bcace681d5aa4062/docs/source/pages/version_history.md?plain=1
        path: libczi

    - name: Cmake
      run: |
        cd libczi
        mkdir build
        cd build
        cmake .. -DLIBCZI_BUILD_UNITTESTS=OFF -DLIBCZI_BUILD_LIBCZIAPI=ON -DLIBCZI_BUILD_PREFER_EXTERNALPACKAGE_RAPIDJSON=OFF
        cmake --build . -j 4 

    - name: Collect natives
      shell: bash
      run: |
        mkdir -p ${{ matrix.name }}-${{matrix.arch}}
        find libczi -name '*.so' -exec cp {} ${{ matrix.name }}-${{matrix.arch}} \;
        find libczi -name '*.dylib' -exec cp {} ${{ matrix.name }}-${{matrix.arch}} \;
        find libczi -name '*.dll' -exec cp {} ${{ matrix.name }}-${{matrix.arch}} \;
        mv libczi/LICENSES ./

    - uses: actions/upload-artifact@v4
      with:
        path: ${{ matrix.name }}-${{matrix.arch}}
        name: libczi-binaries-${{matrix.name}}-${{matrix.arch}}

    - name: Make jar
      run: |
        mkdir jars
        jar cvf libCZI-natives-${{matrix.name}}-${{matrix.arch}}.jar ${{ matrix.name }}-${{matrix.arch}} LICENSES

    - uses: actions/upload-artifact@v4
      with:
        path: libCZI-natives-*.jar
        name: libCZI-natives-${{matrix.name}}-${{matrix.arch}}

    - uses: actions/upload-artifact@v4
      if: matrix.os == 'ubuntu-latest'
      with:
        path: LICENSES
        name: LICENSES
  
  merged-jar:
    needs: lib
    runs-on: ubuntu-latest
    steps:

    - uses: actions/download-artifact@v7
      with:
        pattern: libczi-binaries-*
        path: natives

    - uses: actions/download-artifact@v7
      with:
        name: LICENSES
        path: LICENSES

    - name: Make jar
      run: |
        cd natives
        for f in libczi-binaries-*; do
          mv -- "$f" "${f#libczi-binaries-}"
        done
        jar cvf libCZI-natives.jar ../LICENSES linux-x86-64 macos-aarch64 macos-x86-64 windows-x86-64
    - uses: actions/upload-artifact@v4
      with:
        path: natives/libCZI-natives.jar
        name: libCZI-natives-all

  release:
    needs:
      merged-jar
    runs-on: ubuntu-latest
    permissions:
      packages: write
    steps:

    - uses: actions/checkout@v4

    - uses: actions/setup-java@v5
      with:
        distribution: 'temurin'
        java-version: '25'

    - uses: actions/download-artifact@v7
      with:
        pattern: libCZI-natives*
        merge-multiple: true

    - name: Maven publish
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        GITHUB_ACTOR: ${{ github.actor }}
      run: ./gradlew publish
